<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furiousTidy.magicbean.dbutil1.PairsTradeHisMapper">
  <resultMap id="BaseResultMap" type="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="closeId" jdbcType="VARCHAR" property="closeid" />
    <result column="openRatio" jdbcType="FLOAT" property="openratio" />
    <result column="closeRatio" jdbcType="FLOAT" property="closeratio" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, symbol, openId, closeId, openRatio, closeRatio
  </sql>
  <select id="selectByExample" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHisExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pairs_trade_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pairs_trade_his
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pairs_trade_his
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHisExample">
    delete from pairs_trade_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    insert into pairs_trade_his (id, symbol, openId, 
      closeId, openRatio, closeRatio
      )
    values (#{id,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{closeid,jdbcType=VARCHAR}, #{openratio,jdbcType=FLOAT}, #{closeratio,jdbcType=FLOAT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    insert into pairs_trade_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="openid != null">
        openId,
      </if>
      <if test="closeid != null">
        closeId,
      </if>
      <if test="openratio != null">
        openRatio,
      </if>
      <if test="closeratio != null">
        closeRatio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="closeid != null">
        #{closeid,jdbcType=VARCHAR},
      </if>
      <if test="openratio != null">
        #{openratio,jdbcType=FLOAT},
      </if>
      <if test="closeratio != null">
        #{closeratio,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHisExample" resultType="java.lang.Long">
    select count(*) from pairs_trade_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pairs_trade_his
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.symbol != null">
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openId = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.closeid != null">
        closeId = #{record.closeid,jdbcType=VARCHAR},
      </if>
      <if test="record.openratio != null">
        openRatio = #{record.openratio,jdbcType=FLOAT},
      </if>
      <if test="record.closeratio != null">
        closeRatio = #{record.closeratio,jdbcType=FLOAT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pairs_trade_his
    set id = #{record.id,jdbcType=INTEGER},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      openId = #{record.openid,jdbcType=VARCHAR},
      closeId = #{record.closeid,jdbcType=VARCHAR},
      openRatio = #{record.openratio,jdbcType=FLOAT},
      closeRatio = #{record.closeratio,jdbcType=FLOAT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    update pairs_trade_his
    <set>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openId = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="closeid != null">
        closeId = #{closeid,jdbcType=VARCHAR},
      </if>
      <if test="openratio != null">
        openRatio = #{openratio,jdbcType=FLOAT},
      </if>
      <if test="closeratio != null">
        closeRatio = #{closeratio,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    update pairs_trade_his
    set symbol = #{symbol,jdbcType=VARCHAR},
      openId = #{openid,jdbcType=VARCHAR},
      closeId = #{closeid,jdbcType=VARCHAR},
      openRatio = #{openratio,jdbcType=FLOAT},
      closeRatio = #{closeratio,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="closeId" jdbcType="VARCHAR" property="closeid" />
    <result column="openRatio" jdbcType="FLOAT" property="openratio" />
    <result column="closeRatio" jdbcType="FLOAT" property="closeratio" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, symbol, openId, closeId, openRatio, closeRatio
  </sql>
  <select id="selectByExample" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHisExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pairs_trade_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pairs_trade_his
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pairs_trade_his
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHisExample">
    delete from pairs_trade_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    insert into pairs_trade_his (id, symbol, openId, 
      closeId, openRatio, closeRatio
      )
    values (#{id,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{closeid,jdbcType=VARCHAR}, #{openratio,jdbcType=FLOAT}, #{closeratio,jdbcType=FLOAT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    insert into pairs_trade_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="openid != null">
        openId,
      </if>
      <if test="closeid != null">
        closeId,
      </if>
      <if test="openratio != null">
        openRatio,
      </if>
      <if test="closeratio != null">
        closeRatio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="closeid != null">
        #{closeid,jdbcType=VARCHAR},
      </if>
      <if test="openratio != null">
        #{openratio,jdbcType=FLOAT},
      </if>
      <if test="closeratio != null">
        #{closeratio,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHisExample" resultType="java.lang.Long">
    select count(*) from pairs_trade_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pairs_trade_his
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.symbol != null">
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openId = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.closeid != null">
        closeId = #{record.closeid,jdbcType=VARCHAR},
      </if>
      <if test="record.openratio != null">
        openRatio = #{record.openratio,jdbcType=FLOAT},
      </if>
      <if test="record.closeratio != null">
        closeRatio = #{record.closeratio,jdbcType=FLOAT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pairs_trade_his
    set id = #{record.id,jdbcType=INTEGER},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      openId = #{record.openid,jdbcType=VARCHAR},
      closeId = #{record.closeid,jdbcType=VARCHAR},
      openRatio = #{record.openratio,jdbcType=FLOAT},
      closeRatio = #{record.closeratio,jdbcType=FLOAT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    update pairs_trade_his
    <set>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openId = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="closeid != null">
        closeId = #{closeid,jdbcType=VARCHAR},
      </if>
      <if test="openratio != null">
        openRatio = #{openratio,jdbcType=FLOAT},
      </if>
      <if test="closeratio != null">
        closeRatio = #{closeratio,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    update pairs_trade_his
    set symbol = #{symbol,jdbcType=VARCHAR},
      openId = #{openid,jdbcType=VARCHAR},
      closeId = #{closeid,jdbcType=VARCHAR},
      openRatio = #{openratio,jdbcType=FLOAT},
      closeRatio = #{closeratio,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="closeId" jdbcType="VARCHAR" property="closeid" />
    <result column="openRatio" jdbcType="FLOAT" property="openratio" />
    <result column="closeRatio" jdbcType="FLOAT" property="closeratio" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, symbol, openId, closeId, openRatio, closeRatio
  </sql>
  <select id="selectByExample" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHisExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pairs_trade_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pairs_trade_his
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pairs_trade_his
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHisExample">
    delete from pairs_trade_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    insert into pairs_trade_his (id, symbol, openId, 
      closeId, openRatio, closeRatio
      )
    values (#{id,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{closeid,jdbcType=VARCHAR}, #{openratio,jdbcType=FLOAT}, #{closeratio,jdbcType=FLOAT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    insert into pairs_trade_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="openid != null">
        openId,
      </if>
      <if test="closeid != null">
        closeId,
      </if>
      <if test="openratio != null">
        openRatio,
      </if>
      <if test="closeratio != null">
        closeRatio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="closeid != null">
        #{closeid,jdbcType=VARCHAR},
      </if>
      <if test="openratio != null">
        #{openratio,jdbcType=FLOAT},
      </if>
      <if test="closeratio != null">
        #{closeratio,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHisExample" resultType="java.lang.Long">
    select count(*) from pairs_trade_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pairs_trade_his
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.symbol != null">
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openId = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.closeid != null">
        closeId = #{record.closeid,jdbcType=VARCHAR},
      </if>
      <if test="record.openratio != null">
        openRatio = #{record.openratio,jdbcType=FLOAT},
      </if>
      <if test="record.closeratio != null">
        closeRatio = #{record.closeratio,jdbcType=FLOAT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pairs_trade_his
    set id = #{record.id,jdbcType=INTEGER},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      openId = #{record.openid,jdbcType=VARCHAR},
      closeId = #{record.closeid,jdbcType=VARCHAR},
      openRatio = #{record.openratio,jdbcType=FLOAT},
      closeRatio = #{record.closeratio,jdbcType=FLOAT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    update pairs_trade_his
    <set>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openId = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="closeid != null">
        closeId = #{closeid,jdbcType=VARCHAR},
      </if>
      <if test="openratio != null">
        openRatio = #{openratio,jdbcType=FLOAT},
      </if>
      <if test="closeratio != null">
        closeRatio = #{closeratio,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.furiousTidy.magicbean.dbutil1.PairsTradeHis">
    update pairs_trade_his
    set symbol = #{symbol,jdbcType=VARCHAR},
      openId = #{openid,jdbcType=VARCHAR},
      closeId = #{closeid,jdbcType=VARCHAR},
      openRatio = #{openratio,jdbcType=FLOAT},
      closeRatio = #{closeratio,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>