<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.furiousTidy.magicbean.dbutil1.TradeInfoMapper">
  <resultMap id="BaseResultMap" type="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="futurePrice" jdbcType="FLOAT" property="futureprice" />
    <result column="futureQty" jdbcType="FLOAT" property="futureqty" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="spotPrice" jdbcType="FLOAT" property="spotprice" />
    <result column="spotQty" jdbcType="FLOAT" property="spotqty" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, symbol, futurePrice, futureQty, createTime, spotPrice, spotQty
  </sql>
  <select id="selectByExample" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfoExample">
    delete from trade_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    insert into trade_info (id, symbol, futurePrice, 
      futureQty, createTime, spotPrice, 
      spotQty)
    values (#{id,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, #{futureprice,jdbcType=FLOAT}, 
      #{futureqty,jdbcType=FLOAT}, #{createtime,jdbcType=VARCHAR}, #{spotprice,jdbcType=FLOAT}, 
      #{spotqty,jdbcType=FLOAT})
  </insert>
  <insert id="insertSelective" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    insert into trade_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="futureprice != null">
        futurePrice,
      </if>
      <if test="futureqty != null">
        futureQty,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="spotprice != null">
        spotPrice,
      </if>
      <if test="spotqty != null">
        spotQty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="futureprice != null">
        #{futureprice,jdbcType=FLOAT},
      </if>
      <if test="futureqty != null">
        #{futureqty,jdbcType=FLOAT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="spotprice != null">
        #{spotprice,jdbcType=FLOAT},
      </if>
      <if test="spotqty != null">
        #{spotqty,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfoExample" resultType="java.lang.Long">
    select count(*) from trade_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trade_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.symbol != null">
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.futureprice != null">
        futurePrice = #{record.futureprice,jdbcType=FLOAT},
      </if>
      <if test="record.futureqty != null">
        futureQty = #{record.futureqty,jdbcType=FLOAT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.spotprice != null">
        spotPrice = #{record.spotprice,jdbcType=FLOAT},
      </if>
      <if test="record.spotqty != null">
        spotQty = #{record.spotqty,jdbcType=FLOAT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trade_info
    set id = #{record.id,jdbcType=INTEGER},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      futurePrice = #{record.futureprice,jdbcType=FLOAT},
      futureQty = #{record.futureqty,jdbcType=FLOAT},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      spotPrice = #{record.spotprice,jdbcType=FLOAT},
      spotQty = #{record.spotqty,jdbcType=FLOAT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    update trade_info
    <set>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="futureprice != null">
        futurePrice = #{futureprice,jdbcType=FLOAT},
      </if>
      <if test="futureqty != null">
        futureQty = #{futureqty,jdbcType=FLOAT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="spotprice != null">
        spotPrice = #{spotprice,jdbcType=FLOAT},
      </if>
      <if test="spotqty != null">
        spotQty = #{spotqty,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    update trade_info
    set symbol = #{symbol,jdbcType=VARCHAR},
      futurePrice = #{futureprice,jdbcType=FLOAT},
      futureQty = #{futureqty,jdbcType=FLOAT},
      createTime = #{createtime,jdbcType=VARCHAR},
      spotPrice = #{spotprice,jdbcType=FLOAT},
      spotQty = #{spotqty,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="futurePrice" jdbcType="FLOAT" property="futureprice" />
    <result column="futureQty" jdbcType="FLOAT" property="futureqty" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="spotPrice" jdbcType="FLOAT" property="spotprice" />
    <result column="spotQty" jdbcType="FLOAT" property="spotqty" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, symbol, futurePrice, futureQty, createTime, spotPrice, spotQty
  </sql>
  <select id="selectByExample" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfoExample">
    delete from trade_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    insert into trade_info (id, symbol, futurePrice, 
      futureQty, createTime, spotPrice, 
      spotQty)
    values (#{id,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, #{futureprice,jdbcType=FLOAT}, 
      #{futureqty,jdbcType=FLOAT}, #{createtime,jdbcType=VARCHAR}, #{spotprice,jdbcType=FLOAT}, 
      #{spotqty,jdbcType=FLOAT})
  </insert>
  <insert id="insertSelective" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    insert into trade_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="futureprice != null">
        futurePrice,
      </if>
      <if test="futureqty != null">
        futureQty,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="spotprice != null">
        spotPrice,
      </if>
      <if test="spotqty != null">
        spotQty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="futureprice != null">
        #{futureprice,jdbcType=FLOAT},
      </if>
      <if test="futureqty != null">
        #{futureqty,jdbcType=FLOAT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="spotprice != null">
        #{spotprice,jdbcType=FLOAT},
      </if>
      <if test="spotqty != null">
        #{spotqty,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfoExample" resultType="java.lang.Long">
    select count(*) from trade_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trade_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.symbol != null">
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.futureprice != null">
        futurePrice = #{record.futureprice,jdbcType=FLOAT},
      </if>
      <if test="record.futureqty != null">
        futureQty = #{record.futureqty,jdbcType=FLOAT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.spotprice != null">
        spotPrice = #{record.spotprice,jdbcType=FLOAT},
      </if>
      <if test="record.spotqty != null">
        spotQty = #{record.spotqty,jdbcType=FLOAT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trade_info
    set id = #{record.id,jdbcType=INTEGER},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      futurePrice = #{record.futureprice,jdbcType=FLOAT},
      futureQty = #{record.futureqty,jdbcType=FLOAT},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      spotPrice = #{record.spotprice,jdbcType=FLOAT},
      spotQty = #{record.spotqty,jdbcType=FLOAT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    update trade_info
    <set>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="futureprice != null">
        futurePrice = #{futureprice,jdbcType=FLOAT},
      </if>
      <if test="futureqty != null">
        futureQty = #{futureqty,jdbcType=FLOAT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="spotprice != null">
        spotPrice = #{spotprice,jdbcType=FLOAT},
      </if>
      <if test="spotqty != null">
        spotQty = #{spotqty,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    update trade_info
    set symbol = #{symbol,jdbcType=VARCHAR},
      futurePrice = #{futureprice,jdbcType=FLOAT},
      futureQty = #{futureqty,jdbcType=FLOAT},
      createTime = #{createtime,jdbcType=VARCHAR},
      spotPrice = #{spotprice,jdbcType=FLOAT},
      spotQty = #{spotqty,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="futurePrice" jdbcType="FLOAT" property="futureprice" />
    <result column="futureQty" jdbcType="FLOAT" property="futureqty" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="spotPrice" jdbcType="FLOAT" property="spotprice" />
    <result column="spotQty" jdbcType="FLOAT" property="spotqty" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, symbol, futurePrice, futureQty, createTime, spotPrice, spotQty
  </sql>
  <select id="selectByExample" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trade_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trade_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfoExample">
    delete from trade_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    insert into trade_info (id, symbol, futurePrice, 
      futureQty, createTime, spotPrice, 
      spotQty)
    values (#{id,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, #{futureprice,jdbcType=FLOAT}, 
      #{futureqty,jdbcType=FLOAT}, #{createtime,jdbcType=VARCHAR}, #{spotprice,jdbcType=FLOAT}, 
      #{spotqty,jdbcType=FLOAT})
  </insert>
  <insert id="insertSelective" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    insert into trade_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="futureprice != null">
        futurePrice,
      </if>
      <if test="futureqty != null">
        futureQty,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="spotprice != null">
        spotPrice,
      </if>
      <if test="spotqty != null">
        spotQty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="futureprice != null">
        #{futureprice,jdbcType=FLOAT},
      </if>
      <if test="futureqty != null">
        #{futureqty,jdbcType=FLOAT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="spotprice != null">
        #{spotprice,jdbcType=FLOAT},
      </if>
      <if test="spotqty != null">
        #{spotqty,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfoExample" resultType="java.lang.Long">
    select count(*) from trade_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trade_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.symbol != null">
        symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.futureprice != null">
        futurePrice = #{record.futureprice,jdbcType=FLOAT},
      </if>
      <if test="record.futureqty != null">
        futureQty = #{record.futureqty,jdbcType=FLOAT},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.spotprice != null">
        spotPrice = #{record.spotprice,jdbcType=FLOAT},
      </if>
      <if test="record.spotqty != null">
        spotQty = #{record.spotqty,jdbcType=FLOAT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trade_info
    set id = #{record.id,jdbcType=INTEGER},
      symbol = #{record.symbol,jdbcType=VARCHAR},
      futurePrice = #{record.futureprice,jdbcType=FLOAT},
      futureQty = #{record.futureqty,jdbcType=FLOAT},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      spotPrice = #{record.spotprice,jdbcType=FLOAT},
      spotQty = #{record.spotqty,jdbcType=FLOAT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    update trade_info
    <set>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="futureprice != null">
        futurePrice = #{futureprice,jdbcType=FLOAT},
      </if>
      <if test="futureqty != null">
        futureQty = #{futureqty,jdbcType=FLOAT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="spotprice != null">
        spotPrice = #{spotprice,jdbcType=FLOAT},
      </if>
      <if test="spotqty != null">
        spotQty = #{spotqty,jdbcType=FLOAT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.furiousTidy.magicbean.dbutil1.TradeInfo">
    update trade_info
    set symbol = #{symbol,jdbcType=VARCHAR},
      futurePrice = #{futureprice,jdbcType=FLOAT},
      futureQty = #{futureqty,jdbcType=FLOAT},
      createTime = #{createtime,jdbcType=VARCHAR},
      spotPrice = #{spotprice,jdbcType=FLOAT},
      spotQty = #{spotqty,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>